.chart {
  &-label {
    @include font-size(h5);
    @include font-weight(strong);
    text-align: center;
    margin: 0;
  }
  &-pie-percent {
    ul {
      @include reset-list();
      margin-top: $spacing-small;
      display: flex;
      justify-content: space-between;
      li {
        // color: color(primary);
        position: relative;
        padding-left: $spacing;
        margin: 0;
        // &:not(:last-child) {
        //   margin-bottom: calc($spacing-small / 2);
        // }
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-color: currentcolor;
        }
        p {
          margin: 0;
          @include font-size(sm);
          color: color(base);
        }
        &:last-child {
          padding-left: 0;
          padding-right: $spacing;
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            top: 50%;
            left: inherit;
            right: 0;
            transform: translateY(-50%);
            background-color: currentcolor;
          }
        }
      }
    }
  }
  &-bar-vertical-scroll {
    width: 100%;
    max-width: 100%;
    // overflow-x: auto;
    &__bottom {
      position: relative;
      &-action {
        position: absolute;
        left: 0;
        top: -190%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btn {
          padding: $spacing-small calc($spacing-small / 6);
          left: -10px;
          .icon {
            margin: 0;
          }
          &:last-child {
            left: 10px;
          }
        }
      }
      &-option {
        display: flex;
        justify-content: center;
        .btn {
          padding: 0;
          background-color: transparent;
          padding-left: $spacing;
          box-shadow: none;
          @include font-size(pre);
          &:not(:last-child) {
            margin-right: $spacing-small;
          }
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 2px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: currentcolor;
          }
        }
      }
    }
  }
}
