.loading-suspense {
  @include fixed(top 0 left 0 bottom 0 right 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.loading-inner {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  background-color: get-color(dark, 2);
  padding: $spacing $spacing-small;
  border-radius: $border-radius-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include user-select(none);
  img {
    transform: scale(0.7);
    filter: grayscale(1);
    min-height: 25px;
    margin-bottom: $spacing-small;
  }
  .loading-base {
    transform: scale(0.8);
    div {
      background: color(white);
    }
  }
}
.loading-base {
  --dot-size: 14px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--dot-size);
  div {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background: get-color(primary, 1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: loading-base1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: loading-base2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: loading-base2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: loading-base3 0.6s infinite;
    }
  }
  @keyframes loading-base1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loading-base3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loading-base2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
.loading {
  @extend .modal;
  &-mask {
    @extend .modal-mask;
  }
  &-container {
    @extend .modal-container;
  }
  &-payment {
    .icon {
      width: 80px;
      color: color(white);
    }
    .loading {
      &-inner {
        max-width: 540px;
        padding: calc($spacing * 2);
        h5 {
          margin: $spacing-small 0;
          display: flex;
          align-items: center;
          color: color(white);
          @include font-size(sm);
        }
      }
    }
  }
}
