.table {
  &-no {
    &-1 {
      color: get-color(chart, 0);
      font-weight: 700;
    }
    &-2 {
      color: get-color(chart, 1);
      font-weight: 600;
    }
    &-3 {
      color: get-color(chart, 2);
      font-weight: 500;
    }
    &-4 {
      color: get-color(chart, 3);
      font-weight: 400;
    }
  }
}
