.main-air-condition {
  .section-block {
    &__grid {
      grid-gap: calc($spacing-small * 1.5);
      &-item {
        background-color: color(white);
        text-align: center;
        color: get-color(secondary, 1);
        padding: calc($spacing-small) $spacing-small;
        border-radius: calc($border-radius-base * 2);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        display: block;
        white-space: normal;
        .icon {
          background-color: get-color(light, 2);
          border-radius: 50%;
          padding: calc($spacing-small);
          max-width: 100%;
          width: 40px;
          margin: auto;
        }
        p {
          margin: 0;
          font-weight: 600;
          @include font-size(sm);
          line-height: 1.2;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  .section-screen {
    background-color: transparent;
  }
}

.main-air-condition-detail {
  .section-screen {
    background-color: transparent;
  }
  .section-block-1 {
    .section-block {
      &__main {
        background-color: color(white);
        padding: $spacing;
        border-radius: calc($border-radius-base * 2);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        &-header {
          display: flex;
          align-items: center;
          .icon {
            background-color: #c0dbfd;
            border-radius: 50%;
            padding: calc($spacing / 1.7);
            max-width: 100%;
            width: 48px;
            margin: 0;
            color: color(text);
          }
          > div {
            padding-left: $spacing-small;
          }
          h6,
          p {
            margin: 0;
            line-height: 1.2;
          }
          p {
            @include font-size(xs);
          }
        }
        &-center {
          position: relative;
          padding-top: $spacing;
          > img {
            width: 100%;
            transform: scale(0.9);
          }
          .temperature {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.2rem;
            font-weight: 700;
            color: get-color(secondary, 1);
            @include user-select(none);
          }
          .react-select-container {
            max-width: 60%;
            min-width: 50%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
            .react-select {
              &__control {
                border-color: #f6f6f7 !important;
                background-color: #f6f6f7 !important;
                box-shadow: none !important;
                border-radius: 2rem !important;
                &--menu-is-open {
                  border-color: #dee1e5 !important;
                  background-color: #dee1e5 !important;
                }
              }
              &__placeholder {
                color: color(base) !important;
              }
            }
          }
        }
      }
    }
  }
  .section-block-2 {
    .section-block {
      &__grid-item {
        text-align: center;
        background-color: darken($color: get-color(secondary, 2), $amount: 10);
        border-radius: calc($border-radius-base * 2);
        color: color(white);
        padding: calc($spacing-small * 1.5) $spacing-small;
        &.status-on {
          background-color: get-color(alert, success);
        }
        &.status-off {
          background-color: get-color(alert, error);
        }
        p {
          margin: 0;
          line-height: 1;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }
}
