.menu {
  z-index: 999;
  position: fixed;
  inset: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;
  user-select: none;
  @include opacity(0);
  @include x-linear-gradient(
    "to bottom",
    color(white),
    color(white),
    get-color(secondary, 4)
  );
  min-height: 100vh;
  transition: 0.3s ease-in-out;
  &.is-active,
  &.js-active,
  &.show {
    pointer-events: all;
    user-select: all;
    // -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    // animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    @include opacity(1);
    .menu {
      &-main {
        &-block {
          -webkit-animation: slide-in-blurred-bottom 0.6s
            cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
            both;
          animation-delay: var(--animation-delay);
        }
      }
    }
  }
  &-container {
    // padding: $spacing;
  }
  &-header {
    padding: $spacing;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    @include x-linear-gradient(
      "to bottom",
      color(white),
      color(white),
      get-color(secondary, 2)
    );
    &__left,
    &__right {
      display: block;
      min-width: 42px;
    }
    &__center {
      width: 100%;
      color: color(white);
      > * {
        margin: 0;
        text-align: center;
      }
      h6 {
        @include font-size(h3);
        @include user-select(none);
      }
    }
    &__btn {
      background-color: transparent;
      padding: calc($spacing-small / 2);
      color: color(white);
      .icon {
        width: 32px;
        max-width: 32px;
      }
    }
  }
  &-main {
    display: flex;
    flex-direction: column;
    padding: $spacing;
    // @include opacity(0);

    &-block {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: $spacing;
      }
      &__title {
        display: flex;
        width: 100%;
        // background-color: color-bg(body);
        // padding: calc($spacing-small / 2) $spacing-small;
        @include user-select(none);
        border-radius: $border-radius-base;
        margin-bottom: $spacing-small;
        .icon {
          margin-right: $spacing-small;
        }
        > * {
          margin: 0;
        }
      }
      &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $spacing-small;
        margin-top: 0;
        color: color(white);
        &-item {
          backdrop-filter: blur(3px);
          // background-color: rgba(255, 255, 255, 0.1);
          // border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: calc($border-radius-base * 2);
          // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
          position: relative;
          transition: transform 250ms;
          // .btn {
          //   flex-direction: column;
          //   width: 100%;
          //   margin: 0;
          //   padding: $button--padding-v;
          //   text-transform: capitalize;
          //   background-color: get-color(secondary, 1);
          //   color: color(white);
          //   .icon {
          //     width: 38px;
          //     max-width: 100px;
          //     margin: 0;
          //   }
          // }
          .btn {
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            background-color: transparent;
            color: get-color(secondary, 1);
            .icon {
              width: 44px;
              max-width: 100px;
              margin: 0;
              border-radius: calc($border-radius-base * 2);
              background-color: get-color(secondary, 1);
              color: color(white);
              padding: $button--padding-v;
            }
          }
        }
      }
    }
  }
  &-bottom {
  }
}
