.main-profile {
  // background-color: get-color(secondary, 4);
  @include x-linear-gradient(
    "to bottom",
    color(white),
    color(white),
    get-color(secondary, 4)
  );
  min-height: 100vh;
  ul {
    margin: 0;
    padding: 0;
  }

  .profile {
    &-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-top: calc($spacing * 4);
      padding-bottom: calc($spacing * 2);
      z-index: 2;
      .avatar {
        width: 100px !important;
        height: 100px !important;
        border: 4px solid get-color(primary, 2);
      }
      &__description {
        padding: $spacing-small;
        @include user-select(none);
        h5 {
          margin: 0;
          text-align: center;
          text-transform: uppercase;
        }
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &-background {
      position: absolute;
      filter: opacity(0.5);
      width: 100%;
      height: 60%;
      bottom: 0;
      left: 0;
      background-image: url("../../../images/svgs/wave.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: cover;
      z-index: 1;
    }
    &-btn {
      width: 100%;
      background-color: color-bg(white);
      border-color: color-border(divider);
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      padding: 0.5rem 0.75rem;
      margin-bottom: $spacing;
      border-radius: 0.5rem;
      @include font-weight(strong);
      .icon {
        background-color: get-color(dark, 4);
        @include border-radius(50%);
        width: 32px !important;
        max-width: 100%;
        padding: calc($spacing-small / 2);
        // width: calc(24px + $spacing-small) !important;
      }
      .icon-right {
        margin-left: auto;
        .icon {
          background-color: color-bg(transparent);
          padding: 0;
        }
      }
      &.btn-logout {
        justify-content: center;
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}
