.main-qr-code {
  position: relative;
  min-height: 100vh;
  // background-color: get-color(light, 0);
  // background-image: linear-gradient(to bottom, #ffffff, #ffffff22),
  //   url("../../../images/pictures/background-mobile.jpeg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  &__inner {
    max-width: $container--width-sm;
    padding: 0 $spacing;
    // background-color: color-bg(white);
    text-align: center;
  }
  .section {
    &-block {
      text-align: center;
      &__bottom {
        margin-top: $spacing-large;
        .btn {
          width: 100%;
          max-width: 50%;
          margin: 0 auto;
          justify-content: center;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}
